header {}

nav {
	text-align: center;
}

#navbar{
	background-color: orange !important;
}

#logoloudstories{
	padding-right: 80px !important;
	padding-top:30px;
	text-transform: uppercase;
	padding-bottom: 25px;
	margin-left: 5px;
	text-transform: lowercase;
}

nav ul li {
	margin-right: 50px;
	margin-left: 60px;
	text-transform: uppercase;
}

a {
	text-decoration: none !important;
	color: black !important;
}

section {
	padding-top: 20px;
	padding-bottom: 40px;
}

h2 {
	text-align: center;
	text-transform: uppercase;
	padding: 8%;
	background-color: yellow;
}

h1{
	font-family: 'Reenie Beanie', cursive;
	color: white;
}

.title {
	text-align: center;
	padding-top: 70px;
	padding-bottom: 70px;
}

#morespace{
	margin-top: 50px;
}

.gallerycard{
	border: 5px solid #ccc;
	border-radius: 0.25rem;
}

.gallerycard:hover{
	border: 5px solid #777;
}

.carousel{
}
footer {
	background-color: orange;
	text-align: center;
	padding-top: 80px; 
	color: black;
}
button.buttonsocial{
	border: 3px solid rgb(0, 0, 0, 0.7);
	background-color: orange;
	border-radius: 0.5em;
	padding: 5px 5px;
	margin: 0px 10px;
	font-size: 16px;
}
button.buttonsocial:hover{
	border: 3px solid rgb(0, 0, 0, 1);
}

#spaceitem{
	margin-left: 80px;
}
#spaceword{
	margin-right: 50px !important;
}

img{
	max-width:100% ;
	max-height: 20% ;
}