header {
	/*text-align: center;
	padding-top: 0px;
	background: orange; 
	color: white;
	text-transform: uppercase;*/
}
nav {
	text-align: center;
}

nav ul li {
	margin-right: 70px;
	margin-left: 60px;
	text-transform: uppercase;

}
a {
	text-decoration: none !important;
	color: black !important;
}
section {
	padding-top: 20px;
	padding-bottom: 40px;
}

h1 {
	text-align: center;
	text-transform: uppercase;
	padding: 8%;
	background-color: yellow;
}
footer {
	background-color: orange;
	padding: 5%;

}
#navbar{
	background-color: orange !important;
}
#navbarspace{
	padding-right: 15px !important;
	padding-top:30px;
	text-transform: uppercase;
	padding-bottom: 25px;
	margin-left: 5px;
}
#spaceitem{
	margin-left: 80px;
}
#spaceword{
	margin-right: 50px !important;
}

#morespace{
	margin-left: 5%;
	margin-top: 50px;
}

.title {
	text-align: center;
	padding-top: 70px;
	padding-bottom: 70px;
}
img{
	width:50% ;
	height: ;
}
footer{
	text-align: center;
	padding-top: 80px; 
	color: black;
}

/*#lessspace{
	margin-right: 5%;

}*/
/*.distance{
	margin-right: 30px;}*/ 

/*.spacetitle{
 	padding-bottom: 30px;
 }*/